/*-----MAIN-----*/
* {
    padding: 0;
    margin: 0;
}

html {
  box-sizing: border-box;
  
}
html, body{
	height: 100%;
   
   
}

body {
    
    overflow-x:hidden;
    margin: auto;
    

    background: url("../imgs/law2.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;

    
}



/*-----Heading and navigation-----*/
div.header {
    display: inline-flex;
    width: 100%;
    background-color:#030742;
    margin: auto;
}


.header a.logo {
    padding: 0;
    margin: 0;
}

.header a.logo img {
    padding-left: 15px;
    padding-top: 10px;
    float: left;
    width: 75px;
}

a.logo, .top-nav {
    width: 30%;
    #height: 100px;
    display: inline-block;
    vertical-align: top;
    
}


.header a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
}

nav#top-nav.top-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 35px;
    float: right;
    position: absolute;
    
    
}


nav#top-nav.top-nav li {
    display: inline;
    margin: 7px;
    
    
}

nav#top-nav.top-nav .current-page 
{
    color: palegoldenrod;
}

.dropdown {
    position: relative;
    display: inline-block;
    
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: -75px;
    
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}


.resume-nav {
     display: none;
    
}

.contact-nav {
     display: none;
    
}
/*-----Footer-----*/

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #030742;
   color: white;
   text-align: center;
    height: 30px;
}

.footer p {
    padding-top: 7px;
}


/*-----Home-----*/

div.container  {
    padding-top: 75px;
    
}

div.jumbotron {
    opacity: .93;
}

div.jumbotron h1 {
    text-align: center;
}

/*Media querys */
@media (min-width: 650px) {
    .resume-nav {
     display: inline;
    
}

.contact-nav {
     display: inline;
    
}

    .dropdown {
        display: none;
    }
    
    .footer {
        height: 40px;
    }
    
    .footer p {
    padding-top: 10px;
        
}
}


@media (min-width: 1000px) {
    
    nav#top-nav.top-nav ul {
        padding-left: 300px;
    }
    
    .footer p {
    text-align: right;
        padding-right: 75px;
}
    
   
    
}
}